* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.class_1 {
    background: linear-gradient(to right, #2d2d2d, #121517);
    padding: 80px;
    width: 100%;
    height: 800px;
}

.text {
    color: #17644b;
    font-size: 50px;
}

.text_1 {
    font-size: 40px;
    color: #ffff;
}

.a3 {
    margin-top: 60px;
}

.a11 {
    margin-top: -50px;
    margin-left: 90px;
    color: #ffff;
}

.d1 {
    margin-top: -30px;
    margin-left: 85px;
    color: #ffff;
}

.fr {
    padding-top: 60px;
}

.a12 {
    color: #D9D9D9;
}

.a4 {
    margin-left: 600px;
    margin-top: -400px;
    width: 353px;
    height: 520px;
}

.mhdv {
    margin-left: 100px;
    margin-top: -560px;
    width: 353px;
    height: 520px;
    background: #237249;
}

.hozir {
    position: absolute;
    left: 660px;
    bottom: 430px;
}

.b12 {
    padding-top: 100px;
    color: #ffff;
}

.footer {
    width: 100%;
    padding-left: 80px;
    padding: 60px;
    background: #0B0C0D;
    color: #BBB3B3;
    position: absolute;
}

.p1 {
    color: #BBB3B36E;
}

.footer {
    background: #0b0f0c;
    color: #ccc;
    padding: 40px 20px;
    font-family: sans-serif;
}

.footer1 {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer2 h2 {
    color: #1db954;
    margin-bottom: 10px;
}

.footer2 p {
    color: #0e4722;
}

.footer3 {
    display: flex;
    gap: 60px;
}

.footer3 h4 {
    color: #fff;
    margin-bottom: 10px;
}

.footer3 a {
    display: block;
    text-decoration: none;
    color: #aaa;
    margin-bottom: 6px;
}

.footer3 a:hover {
    color: #1db954;
}